
body{
    background-color: grey;
    margin: auto;
    padding: 0px;
}
.con{
    background-color: black;
    height: 40px;
    text-align: center;
    padding-top: 20px;
    
}

a{
    text-decoration: none;
    color: white;
    margin-right:210px;
}

#logo{
    font-family: Papyrus, fantasy;
    color: rgb(239, 237, 237);
    text-align: left;
    font-size: 20px;
}

img{
    height: 300px;
    margin-left: 490px;
    margin-top: 50px;
    border: black solid 3px;
}

h2{
    text-align: center;
    margin: 2px;
}