div{
    height: 300px;
    width: 300px;
    background-color: violet;
    display: inline-block;
    color: white;
    transition: all;
    margin-top: 70px;
    margin-left:80px;
}

div:hover{
    background-color: indigo;
    color: black;
}

div.Two:hover{
    background-color: indigo;
    transform: rotate(45deg);
}
/* p {
    display: none;
    background-color: yellow;
    padding: 20px;
  } */
  
/* div:hover p {
    display: block;
  } */