#box1{
    height: 100px;
    width: 200px;
    background-color: rgb(239, 118, 138);
    font-size: 25px;
}

#box2{
    height: 50px;
    width: 70vw;
    margin-left: 20%;
    background-color: rgb(147, 52, 147);
    font-size: 2rem;
}