div{
    height: 300px;
    width: 300px;
    background-color: violet;
    display: inline-block;
    color: white;
    transition: all;
}

div:hover{
    background-color: indigo;
    color: black;
}

div.Two:hover{
    background-color: aqua;
}
p {
    display: none;
    background-color: yellow;
    padding: 20px;
  }
  
div:hover p {
    display: block;
  }