div{
    height: 300px;
    width: 300px;
    background-color: violet;
    display: inline-block;
    color: white;
    transition: all;
    margin-top: 100px;
    margin-left:80px;
    animation-name: box;
    animation-duration: 0.25s;
    /* animation-timing-function: ease-in; */
    animation-iteration-count: infinite;
    /* transition: all 1s steps(15); */
    border-radius: 50%;

}
@keyframes box{
    from{background-color: violet;
            transform: scaleX(1);}
    to{background-color: indigo;
    transform: scale(1.5);}
}
div:hover{
    /* background-color: indigo;
    color: black; */
    /* transform: rotate(90deg); */
    /* transform: translate(70px,-50px); */
    /* transform: skew(30deg); */
}

div.Two:hover{
    /* background-color: indigo; */
    /* transform: scaleX(1.5); */
}
/* p {
    display: none;
    background-color: yellow;
    padding: 20px;
  } */
  
/* div:hover p {
    display: block;
  } */