
body{
    background-color: rgb(168, 165, 165);
    /* background-color: rgb(247, 167, 181); */
    margin: auto;
    padding: 0px;
    background-image: url(WhatsApp\ Image\ 2023-12-22\ at\ 1.03.58\ PM.jpeg);
    background-size: cover;
}
.con{
    background-color: black;
    /* background-color: rgb(231, 51, 165); */
    height: 40px;
    text-align: center;
    padding-top: 20px;
    width: 100%;
    position: fixed;
    
}

a{

    text-decoration: none;
    color: white;
    margin-right:210px;
}

#logo{
    font-family: Papyrus, fantasy;
    color: rgb(134, 133, 133);
    /* color: white; */
    text-align: left;
    font-size: 20px;
}

img{
    height: 300px;
    margin-left: 490px;
    margin-top: 80px;
    border: black solid 3px;
    /* border: mediumvioletred solid 3px; */
}

h2{
    text-align: center;
    margin: 2px;
    font-family: "Nunito", sans-serif;
}
 main p{
    font-size: medium;
    margin-top: 0px;
    line-height: 30px;
    /* color: rgb(100, 15, 69); */
 }
p{
    font-size: 10px;
    margin-top: 60px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}