*{
    margin: 0px;
    padding: 0px;
    color: white;
}

#navbar{
    background-color: #0f1111;
    height: 60px;
}
#logo{
    color: #f08804;
    font-size: 25px;
}
a{
    text-decoration: none;
    margin-right: 170px;
}
button{
    background-color: #f08804;
}

#content{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}
main{
    height: 500px;
}
footer{
    background-color: #0f1111;
    text-align: center;
}